/* Default Styles (for larger screens) */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Ensure the navbar stays above other elements */
  background-color: white; /* Navbar background color */
  width: 100%;
  padding: 20px 20px; /* Adjust padding if necessary */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
}

body {
  padding-top: 70px; /* Adjust based on the navbar height to prevent content overlap */
}

/* Logo Styles */
.navbar img {
  max-width: 144px; /* Default logo size */
  height: auto;
}

/* Responsive Styles */

/* For tablets (768px and below) */
@media (max-width: 768px) {
  .navbar img {
    max-width: 120px; /* Slightly smaller logo */
  }
}

/* For mobile phones (480px and below) */
@media (max-width: 480px) {
  .navbar img {
    max-width: 100px; /* Further reduce logo size for small screens */
  }
  
  

  .navbar .navbar-links {
    flex-direction: column; /* Stack navbar items vertically */
    gap: 0.5rem;
  }

  .navbar-links p {
    font-size: 0.75rem; /* Reduce text size */
  }

  .navbar-links img {
    width: 0.75rem; /* Smaller icons */
    height: 0.75rem;
  }

  .navbar-divider {
    display: none; /* Hide divider on small screens */
  }
}
