.cart-page {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.cart-header {
  text-align: center;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.cart-items {
  width: 60%;
  margin-left: 0;
}

.cart-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
}

.discount-text {
  color: red;
  text-decoration: line-through;
  font-size: 16px;
}

.remove-btn {
  color: #e63946;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.price-details p {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 16px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.reduce-btn,
.add-btn {
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 24px; /* Consistent font size */
  width: 40px; /* Consistent width */
  height: 40px; /* Consistent height */
  border-radius: 50%; /* Circular buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
}

.reduce-btn {
  background-color: rgb(209, 79, 79); /* Red background color */
  color: #fff;
}

.reduce-btn:hover {
  background-color: rgb(248, 91, 91); /* Darker red on hover */
}

.add-btn {
  background-color: #4caf50; /* Green background color */
  color: #fff;
}

.add-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.quantity {
  font-size: 16px;
  margin: 0 10px;
}

.cart-summary {
  width: 30%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 20px;
  font-size: 18px;
  position: sticky;
  top: 0;
}

.continue-btn {
  width: 100%;
  background-color: #a349a4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
}

.meesho-safe {
  text-align: center;
  margin-top: 20px;
}

.meesho-safe img {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.discount-info {
  width: 90%;
  background-color: #98ffb5;
  color: #558d65;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
