.buy-now-page {
  padding: 20px;
}

.buy-now-header h2 {
  text-align: center;
  margin-bottom: 20px;
}

.buy-now-container {
  display: flex;
  justify-content: space-between;
}

.buy-now-items {
  flex: 2;
}

.buy-now-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buy-now-item-details {
  display: flex;
}

.buy-now-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.reduce-btn,
.add-btn {
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
}

.quantity {
  font-size: 16px;
  margin: 0 10px;
}

.buy-now-summary {
  flex: 1;
}

.price-details p {
  margin: 10px 0;
}

.discount-info {
  color: green;
}

.continue-btn {
  background-color: #9e28b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.meesho-safe {
  margin-top: 20px;
  text-align: center;
}

.meesho-safe img {
  width: 100px;
}
