/* BuyNowPage.css */

.buy-now-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 40px ;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.order-details, .payment-info {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.order-details h2, .payment-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.order-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.order-item:last-child {
  border-bottom: none;
}

.discount-text {
  color: red;
  text-decoration: line-through;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.place-order-btn {
  display: block;
  width: 100%;
  background-color: #a349a4; /* Change as needed */
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.place-order-btn:hover {
  background-color: #933b77; /* Darker shade for hover effect */
}

/* Responsive Design */
@media (max-width: 768px) {
  .buy-now-container {
    padding: 10px;
  }

  .order-details, .payment-info {
    padding: 15px;
  }

  .place-order-btn {
    font-size: 16px;
    padding: 12px;
  }
}
