.cart-page {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.quantity-controls {
  display: flex;
  align-items: center;
}

.reduce-btn,
.add-btn {
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 24px; /* Adjust size as needed */
  width: 40px; /* Set width to make it circular */
  height: 40px; /* Set height to make it circular */
  border-radius: 50%; /* Make the button circular */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
}

.quantity {
  font-size: 16px;
  margin: 0 10px;
}


.cart-header {
  text-align: center;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px; /* Reduced left margin for the entire container */
}

.cart-items {
  width: 60%; /* Increased width slightly to close the gap */
  margin-left: 0px; /* Remove left margin */
  font-size: 16px;
}

.cart-summary {
  width: 30%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 20px; /* Reduced right margin */
  font-size: 18px;
  position: sticky;
  top: 0;
}

.cart-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
}

.discount-text {
  color: red;
  text-decoration: line-through;
  font-size: 16px;
}

.remove-btn {
  color: #e63946;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.price-details p {
  display: flex;
  justify-content: space-between;
  margin-right: 10px; /* Reduced right margin for price details */
  font-size: 16px;
}

.continue-btn {
  width: 100%; /* Removed percentage of button width */
  background-color: #a349a4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
}

.meesho-safe {
  text-align: center;
  margin-top: 20px;
}

.meesho-safe img {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.discount-info {
  width: 90%;
  background-color: #98ffb5;
  color: #558d65;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
