/* CategoryProductList.css */
.category-product-list {
    margin-top: 20px;
  }
  
  .related-product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 products per row */
    gap: 10px; /* Reduce the gap between products */
  }
  
  .related-product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .related-product-image {
    width: 120px; /* Smaller size for images */
    height: 120px;
    object-fit: cover; /* Ensures images fit nicely without distortion */
    margin-bottom: 10px;
  }
  
  .related-product-card h4 {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .related-product-card p {
    font-size: 12px;
  }
  
  /* CategoryProductList.css */
.related-product-card-link {
    text-decoration: none;
    color: inherit; /* Inherit text color to make the link look like normal text */
  }
  